<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icezhg.sunflower.dao.BookingDao">

    <resultMap id="BaseResultMap" type="com.icezhg.sunflower.domain.Booking">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="serialNumber" column="serial_number" jdbcType="VARCHAR"/>
        <result property="contactName" column="contact_name" jdbcType="VARCHAR"/>
        <result property="contactMobile" column="contact_mobile" jdbcType="VARCHAR"/>
        <result property="channel" column="channel" jdbcType="TINYINT"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, serial_number, contact_name,
        contact_mobile, `channel`,
        user_id, username, create_time,
        create_by, update_time, update_by,
        remark
    </sql>

    <select id="findById" parameterType="long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_booking
        where id = #{id,jdbcType=BIGINT}
    </select>

    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.icezhg.sunflower.domain.Booking"
            useGeneratedKeys="true">
        insert into t_booking
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="serialNumber != null">serial_number,</if>
            <if test="contactName != null">contact_name,</if>
            <if test="contactMobile != null">contact_mobile,</if>
            <if test="channel != null">`channel`,</if>
            <if test="userId != null">user_id,</if>
            <if test="username != null">username,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id,jdbcType=BIGINT},</if>
            <if test="serialNumber != null">#{serialNumber,jdbcType=VARCHAR},</if>
            <if test="contactName != null">#{contactName,jdbcType=VARCHAR},</if>
            <if test="contactMobile != null">#{contactMobile,jdbcType=VARCHAR},</if>
            <if test="channel != null">#{channel,jdbcType=TINYINT},</if>
            <if test="userId != null">#{userId,jdbcType=BIGINT},</if>
            <if test="username != null">#{username,jdbcType=VARCHAR},</if>
            <if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
            <if test="createBy != null">#{createBy,jdbcType=VARCHAR},</if>
            <if test="updateTime != null">#{updateTime,jdbcType=TIMESTAMP},</if>
            <if test="updateBy != null">#{updateBy,jdbcType=VARCHAR},</if>
            <if test="remark != null">#{remark,jdbcType=VARCHAR},</if>
        </trim>
    </insert>

    <update id="update" parameterType="com.icezhg.sunflower.domain.Booking">
        update t_booking
        <set>
            <if test="contactName != null">
                contact_name = #{contactName,jdbcType=VARCHAR},
            </if>
            <if test="contactMobile != null">
                contact_mobile = #{contactMobile,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <sql id="findCondition">
        <where>
            <if test="serialNumber != null">
                and serial_number = #{serialNumber,jdbcType=VARCHAR}
            </if>
            <if test="name != null">
                and LOCATE(#{name,jdbcType=VARCHAR}, resource_name) > 0
            </if>
            <if test="type != null">
                and `type` = #{type,jdbcType=TINYINT}
            </if>
            <if test="date != null">
                and start_date = #{date,jdbcType=DATE}
            </if>
            <if test="channel != null">
                and `channel` = #{channel,jdbcType=TINYINT}
            </if>
            <if test="userId != null">
                and user_id = #{userId,jdbcType=BIGINT}
            </if>
            <if test="username != null">
                and username = #{username,jdbcType=VARCHAR}
            </if>
            <if test="beginTime != null and endTime != null">
                and create_time between #{beginTime,jdbcType=TIMESTAMP} and #{endTime,jdbcType=TIMESTAMP}
            </if>
        </where>
    </sql>

    <select id="count" parameterType="map" resultType="int">
        select count(*)
        from t_booking
        <include refid="findCondition"/>
    </select>

    <select id="find" parameterType="map" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from t_booking
        <include refid="findCondition"/>
        order by id dasc
        limit #{offset,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER}
    </select>

</mapper>
