<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icezhg.sunflower.dao.CustomerTagDao">

    <resultMap id="BaseResultMap" type="com.icezhg.sunflower.domain.CustomerTag">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="styleClass" column="style_class" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, name, description,
        style_class, create_time, create_by,
        update_time, update_by, remark
    </sql>

    <select id="findById" parameterType="int" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_customer_tag
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="delete" parameterType="int">
        delete
        from t_customer_tag
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <delete id="deleteByIds" parameterType="list">
        delete
        from t_customer_tag
        where id in
        <foreach collection="list" item="item" open="(" separator=", " close=")">
            #{item,jdbcType=INTEGER}
        </foreach>
    </delete>

    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.icezhg.sunflower.domain.CustomerTag"
            useGeneratedKeys="true">
        insert into t_customer_tag
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">name,</if>
            <if test="description != null">description,</if>
            <if test="styleClass != null">style_class,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id,jdbcType=INTEGER},</if>
            <if test="name != null">#{name,jdbcType=VARCHAR},</if>
            <if test="description != null">#{description,jdbcType=VARCHAR},</if>
            <if test="styleClass != null">#{styleClass,jdbcType=VARCHAR},</if>
            <if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
            <if test="createBy != null">#{createBy,jdbcType=VARCHAR},</if>
            <if test="updateTime != null">#{updateTime,jdbcType=TIMESTAMP},</if>
            <if test="updateBy != null">#{updateBy,jdbcType=VARCHAR},</if>
            <if test="remark != null">#{remark,jdbcType=VARCHAR},</if>
        </trim>
    </insert>

    <update id="update" parameterType="com.icezhg.sunflower.domain.CustomerTag">
        update t_customer_tag
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="styleClass != null">
                style_class = #{styleClass,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <sql id="findCondition">
        <where>
            <if test="name != null">
                and LOCATE(#{name,jdbcType=VARCHAR}, `name`) > 0
            </if>
        </where>
    </sql>

    <select id="count" parameterType="map" resultType="int">
        select count(*)
        from t_customer_tag
        <include refid="findCondition"/>
    </select>

    <select id="find" parameterType="map" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from t_customer_tag
        <include refid="findCondition"/>
        order by id asc
        limit #{offset,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER}
    </select>

    <select id="findAll" parameterType="map" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from t_customer_tag
        <include refid="findCondition"/>
        order by id asc
    </select>
</mapper>
