<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icezhg.sunflower.dao.OpenidDao">

    <resultMap id="BaseResultMap" type="com.icezhg.sunflower.domain.Openid">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="openid" column="openid" jdbcType="VARCHAR"/>
        <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
        <result property="mobile" column="mobile" jdbcType="VARCHAR"/>
        <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
        <result property="role" column="role" jdbcType="TINYINT"/>
        <result property="status" column="status" jdbcType="CHAR"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="uid" column="uid" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="lastLoginTime" column="last_login_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, openid, nickname,
        mobile, avatar, `role`,
        `status`, `code`, uid,
        create_time, update_time, remark,
        last_login_time
    </sql>

    <select id="findByOpenid" parameterType="string" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_openid
        where openid = #{openid,jdbcType=VARCHAR}
    </select>

    <select id="findById" parameterType="long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_openid
        where id = #{id,jdbcType=BIGINT}
    </select>

    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.icezhg.sunflower.domain.Openid"
            useGeneratedKeys="true">
        insert into sys_openid
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="openid != null">openid,</if>
            <if test="nickname != null">nickname,</if>
            <if test="mobile != null">mobile,</if>
            <if test="avatar != null">avatar,</if>
            <if test="role != null">`role`,</if>
            <if test="status != null">`status`,</if>
            <if test="code != null">code,</if>
            <if test="uid != null">uid,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="lastLoginTime != null">last_login_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id,jdbcType=BIGINT},</if>
            <if test="openid != null">#{openid,jdbcType=VARCHAR},</if>
            <if test="nickname != null">#{nickname,jdbcType=VARCHAR},</if>
            <if test="mobile != null">#{mobile,jdbcType=VARCHAR},</if>
            <if test="avatar != null">#{avatar,jdbcType=VARCHAR},</if>
            <if test="role != null">#{role,jdbcType=TINYINT},</if>
            <if test="status != null">#{status,jdbcType=CHAR},</if>
            <if test="code != null">#{code,jdbcType=VARCHAR},</if>
            <if test="uid != null">#{uid,jdbcType=VARCHAR},</if>
            <if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
            <if test="updateTime != null">#{updateTime,jdbcType=TIMESTAMP},</if>
            <if test="remark != null">#{remark,jdbcType=VARCHAR},</if>
            <if test="lastLoginTime != null">#{lastLoginTime,jdbcType=TIMESTAMP},</if>
        </trim>
        on duplicate key update
        <trim prefix="" suffix="" suffixOverrides=",">
            <if test="nickname != null">
                nickname = values(nickname),
            </if>
            <if test="remark != null">
                remark = values(remark),
            </if>
            <if test="lastLoginTime != null">
                last_login_time = values(last_login_time),
            </if>
            <choose>
                <when test="updateTime != null">
                    update_time = values(update_time),
                </when>
                <otherwise>
                    update_time = now(),
                </otherwise>
            </choose>
        </trim>
    </insert>

    <update id="update" parameterType="com.icezhg.sunflower.domain.Openid">
        update sys_openid
        <set>
            <if test="nickname != null">
                nickname = #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null">
                mobile = #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="role != null">
                `role` = #{role,jdbcType=TINYINT},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=CHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="lastLoginTime != null">
                last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateLastLoginTime">
        update sys_openid
        set last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP}
        where openid = #{openid,jdbcType=VARCHAR} and status = '0'
    </update>

    <update id="updateUid">
        update sys_openid
        set uid = #{uid,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <sql id="findCondition">
        <where>
            <if test="name != null">
                and LOCATE(#{name,jdbcType=VARCHAR}, nickname) > 0
            </if>
            <if test="status != null">
                and `status` = #{status,jdbcType=CHAR}
            </if>
            <if test="beginTime != null and endTime != null">
                and create_time between #{beginTime,jdbcType=TIMESTAMP} and #{endTime,jdbcType=TIMESTAMP}
            </if>
        </where>
    </sql>

    <select id="count" parameterType="map" resultType="int">
        select count(*)
        from sys_openid
        <include refid="findCondition"/>
    </select>

    <select id="find" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_openid
        <include refid="findCondition"/>
        order by id asc
        limit #{offset,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER}
    </select>

</mapper>
